.tree-item {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.tree-item.closed .tree-item {
  display: none;
}

.tree-item p:hover {
  background-color: aqua;
}

.tree-item p {
  display: flex;
  justify-content: space-between;
}

.tree-item p i {
  visibility: hidden;
  margin: 5px;
}

.tree-item p:hover i {
  visibility: visible;
}
